<!-- @format -->

<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Assignment: SQL Notebook for Peer Assignment</font></h1>

Estimated time needed: **60** minutes.

## Introduction

Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

<!-- @format -->

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones.

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage.

Therefore if we can determine if the first stage will land, we can determine the cost of a launch.

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

<!-- @format -->

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

<a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [232]:
!pip install sqlalchemy==2
!pip install ipython-sql

Requirement already satisfied: sqlalchemy==2 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (2.0.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from sqlalchemy==2) (4.9.0)
Requirement already satisfied: ipython-sql in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (0.5.0)
Requirement already satisfied: prettytable in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython-sql) (3.9.0)
Requirement already satisfied: ipython in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython-sql) (8.18.1)
Requirement already satisfied: sqlalchemy>=2.0 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython-sql) (2.0.0)
Requirement already satisfied: sqlparse in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython-sql) (0.4.4)
Requirement already satisfied: six in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.2.0 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from sqlalchemy>=2.0->ipython-sql) (4.9.0)
Requirement already satisfied: decorator in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (3.0.42)
Requirement already satisfied: pygments>=2.4.0 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (5.14.0)
Requirement already satisfied: pexpect>4.3 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: wcwidth in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from prettytable->ipython-sql) (0.2.12)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: ptyprocess>=0.5 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from pexpect>4.3->ipython->ipython-sql) (0.7.0)
Requirement already satisfied: executing>=1.2.0 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in /Users/macjianfeng/miniforge3/envs/spyder-env/lib/python3.11/site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

<!-- @format -->

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [233]:
%load_ext sql
%config SqlMagic.autocommit=False # for engines that do not support autommit

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [234]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [235]:
# !pip install -q pandas==1.1.5

In [236]:
%sql sqlite:///my_data1.db

In [237]:
import pandas as pd

df = pd.read_csv(
    "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv"
)
df.to_sql("SPACEXTBL", con, if_exists="replace", index=False, method="multi")
df

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt
4,2013-03-01,15:10:00,F9 v1.0 B0007,CCAFS LC-40,SpaceX CRS-2,677,LEO (ISS),NASA (CRS),Success,No attempt
...,...,...,...,...,...,...,...,...,...,...
96,2020-11-05,23:24:23,F9 B5B1062.1,CCAFS SLC-40,"GPS III-04 , Crew-1",4311,MEO,USSF,Success,Success
97,2020-11-16,0:27:00,F9 B5B1061.1,KSC LC-39A,"Crew-1, Sentinel-6 Michael Freilich",12500,LEO (ISS),NASA (CCP),Success,Success
98,2020-11-21,17:17:08,F9 B5B1063.1,VAFB SLC-4E,"Sentinel-6 Michael Freilich, Starlink 15 v1.0",1192,LEO,NASA / NOAA / ESA / EUMETSAT,Success,Success
99,2020-11-25,2:13:00,F9 B5 B1049.7,CCAFS SLC-40,"Starlink 15 v1.0, SpaceX CRS-21",15600,LEO,SpaceX,Success,Success
100,2020-12-06,16:17:08,F9 B5 B1058.4,KSC LC-39A,SpaceX CRS-21,2972,LEO (ISS),NASA (CRS),Success,Success

<!-- @format -->

**Note:This below code is added to remove blank rows from table**

In [238]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
(sqlite3.OperationalError) table SPACEXTABLE already exists
[SQL: create table SPACEXTABLE as select * from SPACEXTBL where Date is not null]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

<!-- @format -->

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
For Example "Landing_Outcome"**

### Task 1

##### Display the names of the unique launch sites in the space mission

In [239]:
tab_SPACEXTABLE = cur.execute("SELECT * FROM SPACEXTABLE")
records = tab_SPACEXTABLE.fetchall()
launchsites = []
for row in records:
    if row[3] not in launchsites:
        launchsites.append(row[3])
launchsites

['CCAFS LC-40', 'VAFB SLC-4E', 'KSC LC-39A', 'CCAFS SLC-40']

<!-- @format -->

### Task 2

##### Display 5 records where launch sites begin with the string 'CCA'

In [240]:
# df[df["Launch_Site"].str.contains("CCA")][:5]
tab_SPACEXTABLE = cur.execute("SELECT * FROM SPACEXTABLE LIMIT 5")
records = tab_SPACEXTABLE.fetchall()
CCA_sites = []
for row in records:
    if row[3] not in CCA_sites:
        CCA_sites.append(row[3])
CCA_sites

['CCAFS LC-40']

<!-- @format -->

### Task 3

##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [241]:
for row in records:
    if row[7] == "NASA (CRS)":
        print("Playload:", row[4], "mass(kg):", row[5])

Playload: SpaceX CRS-1 mass(kg): 500
Playload: SpaceX CRS-2 mass(kg): 677

<!-- @format -->

### Task 4

##### Display average payload mass carried by booster version F9 v1.1

In [242]:
a = df[df["Booster_Version"].str.contains("F9 v1.1")].describe()

tab_SPACEXTABLE = cur.execute(
    "SELECT AVG(PAYLOAD_MASS__KG_) FROM SPACEXTABLE WHERE Booster_Version LIKE 'F9 v1.1' "
)

records = tab_SPACEXTABLE.fetchall()
print(records, a)

[(2928.4,)]        PAYLOAD_MASS__KG_
count          15.000000
mean         2534.666667
std          1471.311546
min           500.000000
25%          1607.000000
50%          2296.000000
75%          3742.000000
max          4707.000000

<!-- @format -->

### Task 5

##### List the date when the first succesful landing outcome in ground pad was acheived.

_Hint:Use min function_

In [243]:
# df.shape[0]
tab_SPACEXTABLE = cur.execute(
    "SELECT Date FROM SPACEXTABLE WHERE Landing_Outcome  = 'Success' LIMIT 4"
)

records = tab_SPACEXTABLE.fetchall()
print(records)

[('2018-07-22',), ('2018-07-25',), ('2018-08-07',), ('2018-09-10',)]

In [244]:
for i in range(df.shape[0]):
    if df.loc[i, "Landing_Outcome"] == "Success":
        print(df.loc[i, "Date"])
        break

2018-07-22

<!-- @format -->

### Task 6

##### List the names of the boosters which have success in drone ship and have payload mass greater than 4000 but less than 6000

In [245]:
# df
# j = []
# for i in range(df.shape[0]):
#     if (
#         df.loc[i, "Landing_Outcome"] == "Success"
#         and 4000 < df.loc[i, "PAYLOAD_MASS__KG_"] < 6000
#     ):
#         j.append(i)
# df_suc = df.loc[j, "Booster_Version"].unique()
# print(df_suc, df_suc.shape)

['F9 B5 B1046.2' 'F9 B5 B1047.2' 'F9 B5 B1048.3' 'F9 B5 B1051.2 '
 'F9 B5B1060.1' 'F9 B5 B1058.2 ' 'F9 B5B1062.1'] (7,)

In [246]:
tab_SPACEXTABLE = cur.execute(
    "SELECT Booster_Version, PAYLOAD_MASS__KG_ FROM SPACEXTABLE"
)
records = tab_SPACEXTABLE.fetchall()
# print(records)
res = []
for row in records:
    if 4000 < row[1] < 6000:
        res.append(row[0])
        print("\n", row[0])

 F9 v1.1

 F9 v1.1 B1011

 F9 v1.1 B1014

 F9 v1.1 B1016

 F9 FT B1020

 F9 FT B1022

 F9 FT B1026

 F9 FT B1030

 F9 FT  B1021.2

 F9 FT B1032.1

 F9 B4 B1040.1

 F9 FT  B1031.2

 F9 B4 B1043.1

 F9 FT  B1032.2

 F9 B4  B1040.2

 F9 B5 B1046.2

 F9 B5 B1047.2

 F9 B5B1054

 F9 B5 B1048.3

 F9 B5 B1051.2

 F9 B5B1060.1

 F9 B5 B1058.2

 F9 B5B1062.1

<!-- @format -->

### Task 7

##### List the total number of successful and failure mission outcomes

In [247]:
tab_SPACEXTABLE_no_succ = cur.execute(
    "SELECT Mission_Outcome FROM SPACEXTABLE WHERE Mission_Outcome != 'Success' "
)
records_no_succ = tab_SPACEXTABLE_no_succ.fetchall()
print(len(records_no_succ))

tab_SPACEXTABLE_succ = cur.execute(
    "SELECT Mission_Outcome FROM SPACEXTABLE WHERE Mission_Outcome = 'Success' "
)
records_succ = tab_SPACEXTABLE_succ.fetchall()
print(len(records_succ))

3
98

<!-- @format -->

### Task 8

##### List the names of the booster_versions which have carried the maximum payload mass. Use a subquery

In [248]:
tab_SPACEXTABLE = cur.execute(
    "SELECT Booster_Version, PAYLOAD_MASS__KG_ FROM SPACEXTABLE"
)
records = tab_SPACEXTABLE.fetchall()

# !pip install operator
from operator import itemgetter

max(records, key=itemgetter(1))

('F9 B5 B1048.4', 15600)

<!-- @format -->

### Task 9

##### List the records which will display the month names, failure landing_outcomes in drone ship ,booster versions, launch_site for the months in year 2015.

**Note: SQLLite does not support monthnames. So you need to use substr(Date, 6,2) as month to get the months and substr(Date,0,5)='2015' for year.**

In [305]:
for i in df["Date"]:
    if i[:4] == "2015":
        # print(i)
        print(calendar.month_name[int(i[5:7])])

January
February
March
April
April
June
December

In [257]:
# tab_SPACEXTABLE = cur.execute("SELECT * FROM SPACEXTABLE WHERE Date LIKE '2015' ")
# records = tab_SPACEXTABLE.fetchall()
# print(records)
df4 = pd.read_sql("SELECT * FROM SPACEXTABLE", con=con)
df4
import calendar


df4[df["Date"], "Date"]

'                                  2022\n\n      January                   February                   March\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6          1  2  3  4  5  6\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       7  8  9 10 11 12 13\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      14 15 16 17 18 19 20\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      21 22 23 24 25 26 27\n24 25 26 27 28 29 30      28                        28 29 30 31\n31\n\n       April                      May                       June\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3                         1             1  2  3  4  5\n 4  5  6  7  8  9 10       2  3  4  5  6  7  8       6  7  8  9 10 11 12\n11 12 13 14 15 16 17       9 10 11 12 13 14 15      13 14 15 16 17 18 19\n18 19 20 21 22 23 24      16 17 18 19 20 21 22      20 21 22 23 24 25 26\n25 26 27 28 29 30         23 24 25 26 27 28 29      27 28 29 30\n                          30 31\n\n        July                     August                  September\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n             1  2  3       1  2  3  4  5  6  7                1  2  3  4\n 4  5  6  7  8  9 10       8  9 10 11 12 13 14       5  6  7  8  9 10 11\n11 12 13 14 15 16 17      15 16 17 18 19 20 21      12 13 14 15 16 17 18\n18 19 20 21 22 23 24      22 23 24 25 26 27 28      19 20 21 22 23 24 25\n25 26 27 28 29 30 31      29 30 31                  26 27 28 29 30\n\n      October                   November                  December\nMo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su\n                1  2          1  2  3  4  5  6                1  2  3  4\n 3  4  5  6  7  8  9       7  8  9 10 11 12 13       5  6  7  8  9 10 11\n10 11 12 13 14 15 16      14 15 16 17 18 19 20      12 13 14 15 16 17 18\n17 18 19 20 21 22 23      21 22 23 24 25 26 27      19 20 21 22 23 24 25\n24 25 26 27 28 29 30      28 29 30                  26 27 28 29 30 31\n31\n'

<!-- @format -->

### Task 10

##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order.

In [348]:
 
import seaborn as sns
from ips import * 
%matplotlib inline
set_pub() 
df.sort_values(by='Date',ascending=True)
df.head(4)
# plt.figure(figsize=(26,3))
# f1=sns.lineplot(data=df, y="PAYLOAD_MASS__KG_",x = 'Date')
# f1.set_xticklabels(f1.get_xticklabels(), rotation=45)

,Date,Time (UTC),Booster_Version,Launch_Site,Payload,PAYLOAD_MASS__KG_,Orbit,Customer,Mission_Outcome,Landing_Outcome
0,2010-06-04,18:45:00,F9 v1.0 B0003,CCAFS LC-40,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,Failure (parachute)
1,2010-12-08,15:43:00,F9 v1.0 B0004,CCAFS LC-40,"Dragon demo flight C1, two CubeSats, barrel of...",0,LEO (ISS),NASA (COTS) NRO,Success,Failure (parachute)
2,2012-05-22,7:44:00,F9 v1.0 B0005,CCAFS LC-40,Dragon demo flight C2,525,LEO (ISS),NASA (COTS),Success,No attempt
3,2012-10-08,0:35:00,F9 v1.0 B0006,CCAFS LC-40,SpaceX CRS-1,500,LEO (ISS),NASA (CRS),Success,No attempt

<!-- @format -->

### Reference Links

- <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20String%20Patterns%20-%20Sorting%20-%20Grouping/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : String Patterns, Sorting and Grouping</a>

- <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html?origin=www.coursera.org">Hands-on Lab: Built-in functions</a>

- <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html?origin=www.coursera.org">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

- <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

- <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

<!-- @format -->

## Author(s)

<h4> Lakshmi Holla </h4>

<!-- @format -->

## Other Contributors

<h4> Rav Ahuja </h4>

<!-- @format -->

## Change log

| Date       | Version | Changed by    | Change Description        |
| ---------- | ------- | ------------- | ------------------------- |
| 2021-07-09 | 0.2     | Lakshmi Holla | Changes made in magic sql |
| 2021-05-20 | 0.1     | Lakshmi Holla | Created Initial Version   |

<!-- @format -->

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>